

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(0, 0, 0, 0.548);
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    height:80%;
    top:10%;
    border-color:wheat;
    border-style: outset;
    border-width:1px;
    -webkit-box-shadow: 1px 2px 8px 8px #000000; 
box-shadow: 1px 2px 8px 8px #000000;
  }
  
  .flex-container > div {
    // background-color: #f1f1f15b;
    width: 500px;
    
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  ion-item{
      color:rgb(255, 255, 255);
  }
 
::placeholder
{
    color:white;
    font-size:20px;
    font-weight:thinner;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    
  }
  
  /* Add some content at the bottom of the video/page */

  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }