

<ion-content>

 <!-- <ion-item>
 <ion-label class="ion-text-wrap">
      <ion-text color="primary">
        <h3>{{item.name}}</h3>
      </ion-text>
      <p>{{item.phoneNum}}</p>
      <ion-text color="secondary">
        <p>{{item.email}}</p>
      </ion-text>
    </ion-label>
</ion-item>  -->


  <ion-item  *ngFor ="let x of history" lines="inset">
  <ion-button fill="outline" slot="end" (click)="del(x)"><ion-icon name ="trash"></ion-icon></ion-button>
    <ion-label class="ion-text-wrap">
      <ion-text color="primary">
       <p>{{x.status}}</p>
      </ion-text>
     
      <ion-text color="secondary">
        <p>{{x.date}}  {{x.time}}</p>
      </ion-text>
      <ion-text color="primary">
       <p>{{x.code}}</p>
      </ion-text>
    </ion-label>
  </ion-item>
</ion-content> 

 