


<ion-content>

  <div  class="body">
<div class="code">

<button class="send"  (click)="shomi()">Check the code  </button>

<button class="check" (click)="hideme()">Send the code</button>
</div>


<div class="div1" *ngIf="showme" align ="center">


<h1 style ="color:white;font-weight:bold">{{text}}</h1>
<br>
<ion-input type ="text" [(ngModel)] ="eco.email" class="myinput" placeholder="Enter client email address"></ion-input> <br><br><br>
<br>

<button (click)="eval(eco)" class="mybutoon2"  >Upload email code</button><br><br>


<pre>



</pre>

</div>
<div class="div1" *ngIf="hideMe"  align ="center">


<h1 style ="color:white;font-weight:bold">{{text}}</h1>

<ion-input type ="text" [(ngModel)] ="cco.cell" class="myinput" placeholder="Enter client's phone number"></ion-input>
<pre>

</pre>
<button (click)="cval(cco)" class="mybutoon" >Search Phone Number</button>


</div>

  </div>




</ion-content>
