


<ion-content>

  <div  class="body">
<div class="code">

<button class="send1"  (click)="profile()">View Profile  </button>
<button class="send"  (click)="shomi()">Send the code  </button>

<button class="check" (click)="hideme()">Check the code</button>
</div>


<div class="div1" *ngIf="showme">


<h1 style ="color:white;font-weight:bold">{{text}}</h1>
<br>
<ion-input type ="text" [(ngModel)] ="eco.x" class="myinput" placeholder="Enter the email code"></ion-input> <br><br><br>
<br>

<button (click)="eval(eco)" class="mybutoon2"  >Check Code</button><br><br>


<pre>



</pre>

</div>
<div class="div1" *ngIf="hideMe" >


<h1 style ="color:white;font-weight:bold">{{text}}</h1>


<pre>



</pre>
<button (click)="cval()" class="mybutoon" >Send Code</button>
</div>

  </div>




</ion-content>
